@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
}

:root {
    --slate-950: #020617;
    --slate-950-transparent: rgb(2 6 23 / 0.8);

    --slate-900: #0f172a;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-100: #f1f5f9;
    --slate-50: #f8fafc;
    --slate-300: #cbd5e1;

    --green-600: #16a34a;
    --green-700: #15803d;

    --yellow-400: #facc15;
    --yellow-500: #f59e0b;

    --red-600: #dc2626;
    --red-700: #b91c1c;

    --blue-600: #2563eb;
    --blue-700: #1d4ed8;

    --indigo-600: #4f46e5;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 80%;
    margin: auto;
    /* filter: blur(2px); */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.profile-picture-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-picture-container > p {
    font-size: 1.2rem;
    color: var(--slate-950)
}

.profile-picture-container > img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.icon {
    width: 25px;
}

.new-button {
    background-color: var(--slate-400);
    width: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color .2s;
}

.new-button:hover {
    background-color: var(--slate-500);
}

.your-list {
    padding: 15px;
}

.your-list > hr {
    margin-top: 20px;
    border: 1px solid var(--slate-50);
}

.your-list  > h1 {
    color: var(--slate-950)
}

.list-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    text-align: center;
}
 
.anime {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--slate-950);
    background-color: var(--slate-50);
}

.banner-container {
    position: relative;
    pointer-events: none;
}

.anime > p {
    padding: 10px;
    align-self: center;
}

.banner-container > img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.edit {
    padding: 10px;
    background-color: var(--slate-950);
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    margin: 10px;
}

.edit > .icon {
    pointer-events: none;
    width: 20px;
}

.episodes-watched {
    padding: 10px;
    background-color: var(--slate-950-transparent);
    width: 100%;
    right: 0;
    bottom: 0;
    position: absolute;
    color: var(--slate-50);  
}   

.search-form {
    width: 500px;
    /* height: 80vh; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: fixed;
    background-color: var(--slate-50);
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    /* margin: auto; */
    /* display: none; */
    padding: 25px;
    overflow-y: auto;
    /* overflow-x: hidden; */
}

.search-bar {
    position: relative;
    display: flex;
    gap: 10px;
}

.input-container > .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;   
    pointer-events: none;
}

.search-bar > .input-container {
   flex: 1;
   position: relative;
}

.input-container > input[type="text"] {
    width: 100%;
    padding: 10px;
    font-family: inherit;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--slate-300);
    color: var(--slate-950);
}

.input-container > input[type="text"]::placeholder {
    color: var(--slate-100);
}

button {
    font-family: inherit;
    font-weight: 400;
    padding: 10px 20px;
    border: none;
    color: var(--slate-50);
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
    background-color: var(--slate-400);
}

.search-result {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.result {
    display: grid;
    grid-template-columns: 80px max-content;
    grid-template-rows: repeat(3, max-content);
    column-gap: 10px;
    row-gap: 5px;
    background-color: var(--slate-50);
    border-radius: 10px;
    color: var(--slate-950);   
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
    overflow-x: auto;
}

.result > p {
    align-self: center;
    font-size: 1rem;
}

@media screen and (max-device-width: 480px){
    body{
      -webkit-text-size-adjust: 100%;
    }
}

.result > img {
    grid-row: 1 / 4;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;    
    height: 113.06px;
}

.result > .episodes {
    grid-column: 2 / 3;
}

.result > .add {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .2s;
    width: max-content;
    padding: 5px 20px;
    font-size: 0.8rem;
    color: var(--slate-50);
    font-weight: bold;
    background-color: var(--blue-600);
}

.add:hover {
    background-color: var(--blue-700);
}

.categories {
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, max-content));
    gap: 10px;
    color: var(--slate-50);
    margin-top: 10px;
}

.categories > * {
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
}

.categories > *.selected {
    border: 2px solid var(--slate-950);
}

.all {
    background-color: var(--blue-600);
    padding: 5px 15px;
}

.dropped {
    background-color: var(--red-600);
}

.completed {
    background-color: var(--indigo-600);
}

.plan-to-watch {
    background-color: var(--yellow-400);
}

.currently-watching {
    background-color: var(--green-600);
}

.slide-in {
    animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
}

.slide-in-y {
    animation: slide-in-y 0.5s forwards;
}

.slide-out-y {
    animation: slide-out-y 0.5s forwards;
}

.edit-panel {
    position: fixed;
    background-color: var(--slate-50);
    width: 450px;
    color: var(--slate-950);
    padding: 25px;
    top: 0;
    right: 0;     
    left: 0;    
    margin: 0 auto;
    transform: translateY(-102%);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.edit-panel form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.edit-panel > form > .category-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    align-items: center;
}

.edit-panel > form > .options {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

.remove,
.close {
    background-color: var(--red-600);
    color: var(--slate-50);
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
}

.edit-panel input,
.edit-panel select {
    appearance: none;
    padding: 10px;
    font-family: inherit;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--slate-300);
    color: var(--slate-950);
    width: 100%;
}

.edit-panel input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    padding-right: 20px;
}

.hidden {
    display: none;
}

.category-container > div {
    position: relative;
}

.total-episodes {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    height: 100%;
    right: 10px;   
    pointer-events: none;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@keyframes slide-in-y {
    100% { transform: translateY(0%); }
}

@keyframes slide-out-y {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-102%); }
}

@media only screen and (max-width: 650px)
{
    .categories {
        grid-template-columns: 1fr 1fr;
    }

    .dropped {
        grid-column: 1 / 3;
    }

    .search-form {
        left: 0;
        right: 0;
        width: auto;
    }

    .categories > * {
        padding: 10px;
        text-align: center;
    }

    .container {
        width: 100%;
    }

    .edit-panel {
        width: auto;
        margin: 0;
    }
}